{{#partial "content"}}
    <div class="container">
        <div class="indexRow">
            <div class="col-md-12 mb-4 white-text text-center">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 users">
                        <h3 class="text-center">Users:</h3>
                            {{#if users}}
                                {{#each users as |l|}}
                                    <h4 id={{l.id}}>{{l.name}}</h4>
                                    <p id={{l.id}}>{{l.role}}</p>
                                    <p id={{l.id}}>{{l.position}}</p>
                                {{/each}}
                            {{/if}}
                        <a href="/create/users"><button type="button" class="registerbtn">Add User</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}